{% extends "base.html" %}
{% load static %}

{% block content %}

<section>

    <div class="bg-card my-4 row">

        <article class="d-flex flex-column col-lg-3">
            <h1 class="p-4">About</h1>
            <img class="m-4 img-fluid d-none d-lg-block" src="{% static 'images/golden-record.jpg' %}" alt="Voyager Golden Record (NASA JPL, Public Domain)">
        </article>

        <article class="p-4 col-lg-9">
            <p>I started <strong class="spl">supraluminique</strong> in 2025 in order to better serve the progressive movement by providing custom software solutions, tailored trainings, and expert advice.</p>
            <p>I want to help you get the most out of your existing tech and expand your capabilities to help you go <strong class="spl">faster than light</strong>.</p>
            <p>Building beloved software is my <a href="https://metromapmaker.com" target="_blank">hobby</a> and my profession. Serving the progressive movement is my career and my calling.</p>
            <p>But I'm not your stereotypical techie! My unusual path to a career in software means that <strong class="spl">I always put people first</strong> in my approach.</p>
        </article>

    </div>
</section>        

<section>

    <article class="my-4 gy-4 p-4">
        <header>
            <h3 class="py-4">7 years (and counting) helping build ActionKit</h3>
        </header>
        <div class="p-4">
            <p>Since 2018, I've built features that ActionKit clients use every day to advance their goals, including user updaters, summary tables, and user groups.</p>
            <p>I have also made major contributions to key capabilities like the Payments processing system, ActBlue sync, the Mailings tool, and so much more.</p>
            <p>In addition to software development, I've loved getting to help clients directly by giving over 100 trainings, writing dozens of blog posts, recording videos, writing and improving ActionKit's documentation, and helping answer your questions on support.</p>
            <p>Some of the most rewarding and enjoyable work has been in making ActionKit <strong class="spl">faster</strong> and more reliable, able to scale to meet the moment for clients with tens of millions of supporters <strong class="spl">without downtime</strong>: making every screen load as fast as possible as well as turbocharging reports, uploads, and mailing builds.</p>
            <p>I've also really enjoyed making seemingly-small improvements that add up to major change. Fixing 100 little annoyances, making 100 quality of life improvements, finding and fixing all of the "missing stairs", all of this makes a huge difference in the tools and workflows you're using every day.</p>
        </div>
    </article>

    <article class="my-4 gy-4 p-4">
        <header>
            <h3 class="py-4">Working for ActionKit clients from 2014-2018</h3>
        </header>
        <div class="p-4">
            <p>Prior to joining the ActionKit team, I was working for organizations using it, and helping them to get the most out of the platform in service of increasing fundraising, engagement, and winning advocacy campaigns.</p>
        </div>
    </article>

    <article class="my-4 gy-4 p-4">
        <header>
            <h3 class="py-4">Launch prep</h3>
        </header>
        <div class="p-4">
            <p>I started <a href="https://hearmecode.org" target="_blank"><strong>Hear Me Code</strong></a>, which offered free, beginner-friendly coding classes for over 3000 women in Washington DC from 2013-2019, helping to jumpstart hundreds of careers in software development.</p>
            <p>This experience was so valuable in helping me <a href="https://youtu.be/3m555yWTaNI" target="_blank">hone my training skills</a> and take my curriculum design to the next level.</p>
        </div>
    </article>

    <article class="my-4 gy-4 p-4">
        <header>
            <h3 class="py-4">Why <span class="spl">supraluminique</span>?</h3>
        </header>
        <div class="p-4">
            <p>I wanted a name that would evoke what I strive for in my work: software that is reliable, secure, and <strong class="spl">faster than light</strong>.</p>
            <p>I wanted a name that dares you to dream big, to reach beyond what's possible now.</p>
            <p>I wanted a name that reflected that I'm now based in France, et voila!</p>
        </div>
    </article>

</section>

{% endblock content %}
