{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <link href="{% static 'css/spl.css' %}?version=20251026" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}Supraluminique - Software faster than light{% endblock title %}</title>

    {% block meta_title %}
        <meta property="og:title" content="Supraluminique - Software faster than light">
        <meta name="twitter:title" content="Supraluminique - Software faster than light">
    {% endblock meta_title %}

    {% block meta_image %}
        <meta property="og:image" content="https://fasterthanlight.tech{% static "images/header.jpeg" %}">
        <meta name="twitter:image:src" content="https://fasterthanlight.tech{% static "images/header.jpeg" %}">
    {% endblock meta_image %}

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

    <meta name="description" content="supraluminique builds custom solutions to meet your organization's goals. I specialize in serving the progressive movement, helping you get the most out of your existing tech and expanding your capabilities to help you go faster than light.">
    <meta property="og:description" content="supraluminique builds custom solutions to meet your organization's goals. I specialize in serving the progressive movement, helping you get the most out of your existing tech and expanding your capabilities to help you go faster than light.">
    <meta name="twitter:description" content="supraluminique builds custom solutions to meet your organization's goals. I specialize in serving the progressive movement, helping you get the most out of your existing tech and expanding your capabilities to help you go faster than light.">

    <meta property="og:site_name" content="fasterthanlight.tech">
    <meta property="og:url" content="https://fasterthanlight.tech">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://fasterthanlight.tech">

    <style>
        {% block extra_css %}{% endblock extra_css %}
    </style>

  </head>
  <body class="supraluminique fs-5" data-bs-theme="dark">
    <!-- Image Credit: Hubble Caldwell 33 V3 ESA & Digitized Sky Survey (Caltech) https://science.nasa.gov/image-detail/c33-4/ -->
    <header class="container-fluid" style="background: url('{% static "images/header.jpeg" %}'); background-position: -40px 0;">
        <nav class="navbar navbar-expand-lg d-flex fw-semibold">
          <ul>
            <li style="list-style-type: none;">
                <a id="link-home" href="{% url 'home' %}">
                    <h1 id="wordmark" class="d-block d-sm-none">supraluminique <small class="spl" style="font-size: 75%;">software faster than light</small></h1>
                    <img id="svg-wordmark" class="d-none d-sm-block" src="{% static 'images/spl-wordmark-rect.svg' %}">
                </a>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item p-3"><a class="nav-link fs-4" href="{% url 'about' %}">About</a></li>
            <li class="nav-item dropdown p-3">
                <a class="nav-link dropdown-toggle fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item fs-4" href="{% url 'services' %}">All Services</a></li>
                  <li><a class="dropdown-item fs-4" href="{% url 'actionkit' %}">ActionKit</a></li>
                  <li><a class="dropdown-item fs-4" href="{% url 'deliverability' %}">Email Deliverability</a></li>
                  <li><a class="dropdown-item fs-4" href="{% url 'training' %}">Training</a></li>
                </ul>
            </li>
            <li class="nav-item p-3"><a class="nav-link fs-4" href="{% url 'services' %}#contact"><button class="btn">Contact</button></a></li>
          </ul>
            </div>
        </nav>
    </header>

    <main class="container-xxl">

        {% block content %}{% endblock content %}

        {% block footer_contact %}
            <section class="row bg-card p-4 my-4">
                <article>
                    <hgroup>
                        <h2 class="text-light">Let's talk about your goals and where you want to go.</h2>
                        <p class="muted">Schedule your free consultation today!</p>
                    </hgroup>
                    <a href="{% url 'services' %}#contact"><button class="btn my-2">Contact</button></a>
                </article>
            </section>
        {% endblock footer_contact %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </main>
  </body>
</html>
